/* Colors */
:root {
  --primaryColor: hsl(137, 45, 44, 1);
  --warningColor: hsl(47, 100, 60, 1);
  --errorColor: hsl(0, 100, 43, 1);
  --textColor: hsl(0, 0, 22, 1);
  --neutral: hsl(0, 0, 100, 1);
  --backgroundColor: hsl(0, 0, 57, 1);
}

.banner {
  /* it decides the height of home attributes*/
  height: 80vh;
  /* this is background picture without gradient */
  /* background: url(../../assets/bgImage1.jpg); */
  /* background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url(../Assets/white1.jpg); */
  /* background: linear-gradient(rgba(33, 33, 33, 0.00), rgba(33, 33, 33, 0.33)), url(../assets/white2.jpg); */
  background-position: center;
  /* 'cover' display the picture properly in screen */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.banner .secContainer .bannerText {
  text-align: center;
}

.banner .secContainer .bannerText .title {
  color: var(--blackColor);
  font-size: 2rem;
  font-weight: 700;
  /* line-height: 2.5rem; */
}

.banner .secContainer .bannerText .subTitle {
  color: var(--greyColor);
  opacity: .9;
  font-size: 16px;
  font-weight: 300;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
}