:root {
  --primaryColor: hsl(137, 45, 44, 1);
  --backgroundColor: rgba(243, 243, 243, 1);
  --textColor: rgb(92, 92, 92);
  --neutral: hsl(0, 0, 100, 1);
}

.mostPopularSkills {
  background-color: rgba(243, 243, 243, 1);
  text-align: center;
  padding: 60px;
}

.mostPopularSkills h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.01em;
  padding-bottom: 30px;
}

.mostPopularSkills p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}

.tab {
  padding: 10px 20px;
  margin: 0 130px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  transition: background-color 0.3s ease;
}

.tab.active,
.tab:hover {
  background-color: var(--primaryColor);
  color: var(--neutral);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* .card {
  width: 295px;
  height: 381.53px;
  background-image: url('../assets/BannerPhoto.jpeg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  color: var(--neutral);
} */

.card {
  width: 295px;
  height: 381.53px;
  background-image: url('../assets/BannerPhoto.jpeg');
  background-size: cover;
  border-radius: 10px;
  position: relative;
  /* Ensure the child element is positioned relative to the card */
}

.cardContent {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: var(--neutral);
}

.personInfo {
  text-align: left;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.skill,
.city {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.coinIcon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--neutral);
}

/* .heartIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--neutral);
} */

.heartIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: var(--primaryColor);
  /* Add color if needed */
}

.joinUsButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--primaryColor);
  color: var(--neutral);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.centerButton {
  display: block;
  margin: 0 auto;
  background-color: var(--primaryColor);
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
}

.skillsCount {
  margin-right: 30px;
  padding-top: 10px;
  font-size: 18px;
  font-family: Poppins;
  color: hsl(0, 0, 100, 1);
}